<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: head"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="bar(click)">
    <a class="navbar-brand" href="/">BM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <th:div th:replace="${click}"/>
</nav>

</body>
</html>