<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="/layouts/header :: head"></head>
<body>
<nav th:replace="/layouts/navbar :: bar(~{:: .collapse})">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--Добавление кнопок в бар-->
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Initiator</th>
            <th>Participant</th>
            <th>Duration</th>
        </tr>
        <tr th:each ="meeting : ${meetings}">
            <td th:utext="${meeting.Date}">...</td>
            <td th:utext="${meeting.Initiator}">...</td>
            <td th:utext="${meeting.Participant}">...</td>
            <td th:utext="${meeting.Duration}">...</td>
        </tr>
    </table>
</div>
</body>
</html>