<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Welcome</h1>

<div>
    <form method="post" action="/registration" modelAttribute="personForm">
        <div><input type="text" placeholder="username" name="username"></div>
        <div><input type="password" placeholder="password" name="password"></div>
        <div><input type="password" placeholder="confirm password" name="passwordConfirm"></div>
        <div><input type="submit" value="Reristration"></div>
    </form>
</div>
<h4><a href="/login">Войти</a></h4>
</body>

</html>